name: CI - Testing Cache Anything New | Action
on:
  workflow_dispatch:

jobs:
  testing_actions:
    name: Testing Actions | Job
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      # It is required to execute the cache action.
      #   id: It will be use in the cache anything action.
      #   path: It always should be start with 'runner.temp'.
      - name: Step -> Generate cache
        id: cache-id
        uses: actions/cache@v2
        with:
          path: ${{ runner.temp }}/cache-directory-example
          key: cache-hello-world-key-v1.10

      # Implement the cache anything action.
      #   is_cached: Use the previous cache action id.
      #   cache: It should be the same as the cache 'path'. The default prefix is '${{ runner.temp }}/' for this reason
      #          it's not required in this field.
      - name: Step -> Cache anything
        uses: airvzxf/cache-anything-new-action@main
        with:
          script: 'install.sh'
          is_cached: ${{ steps.cache-id.outputs.cache-hit }}
          cache: ${{ runner.temp }}/cache-directory-example
          snapshot: '/'
          exclude: '/boot /data /dev /mnt /proc /run /sys'

      - name: Step -> Use the cache
        run: |
          find /home/ -iname hello.txt 2> /dev/null || true
          whereis pandoc || true
